---
import styles from './style.module.scss';
---

<header class={styles.header}>
  <div class={styles.headerCenter}>
    <a href="/post" class={styles.a}>記事一覧</a>
  </div>
  <div class={styles.headerLeft}>
    <a href="/" class={styles.logo}>AppGram</a>
  </div>
  <div class={styles.headerRight}>
    <!-- <a href="/contact" class={styles.contactPageLink}>ご相談はこちら</a> -->
  </div>
</header>
